@import 'reset';
@import 'globals/index';

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.5;
  background-color: $black-00;
  color: $white-00;
}
